# 기존 라이브러리
pysqlite3-binary
langchain
langchain_community
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt

# 추가된 라이브러리
streamlit  # Streamlit 애플리케이션을 실행하기 위해 필요
Pillow  # 이미지 처리 라이브러리
pytesseract  # 이미지에서 텍스트 추출을 위한 OCR 라이브러리
poppler-utils  # PDF에서 이미지 추출을 위한 라이브러리
huggingface-hub  # HuggingFace 모델 사용을 위한 라이브러리
pdf2image  # PDF를 이미지로 변환하는 라이브러리
ChatOpenAI
